if SHIELD_KEYBALL_NANO_RIGHT

config ZMK_KEYBOARD_NAME
	default "Keyball_nano"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_KEYBALL_NANO_LEFT || SHIELD_KEYBALL_NANO_RIGHT

config ZMK_SPLIT
	default y
	
endif
